<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdd.online_ddketang.mapper.ChapterMapper">

    <resultMap id="ChapterResultMap" type="Chapter">
        <!--column对应的是数据库中的列名(或者别名)  property对应的是类里面的属性名-->
        <id column="chapter_id" property="id" jdbcType="INTEGER"/>
        <result column="chapter_title" property="title" jdbcType="VARCHAR"/>
        <result column="chapter_ordered" property="ordered" jdbcType="VARCHAR"/>
        <result column="chapter_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="chapter_video_id" property="videoId" jdbcType="INTEGER"/>
        <collection property="episodes" ofType="Episode"  select="com.tdd.online_ddketang.mapper.EpisodeMapper.getEpisodeByChapterId" column="chapter_id">
            <id column="episode_id" property="id" jdbcType="INTEGER"/>
            <result column="episode_title" property="title" jdbcType="VARCHAR" />
            <result column="episode_num" property="num" jdbcType="INTEGER" />
            <result column="episode_play_url" property="playUrl" jdbcType="VARCHAR" />
            <result column="episode_chapter_id" property="chapterId" jdbcType="INTEGER" />
            <result column="episode_free" property="free" jdbcType="TINYINT" />
            <result column="episode_video_id" property="videoId" jdbcType="INTEGER" />
            <result column="episode_create_time" property="createTime" jdbcType="TIMESTAMP" />
        </collection>

    </resultMap>

    <select id="getChapterByVideoId"  resultMap="ChapterResultMap">
        select c.id as chapter_id, c.title as chapter_title,c.ordered as chapter_ordered,c.create_time as chapter_create_time,c.video_id as chapter_video_id
         from chapter c
        where c.video_id=#{id};
    </select>
</mapper>