<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdd.online_ddketang.mapper.PlayRecordMapper">
    <!--//    播放记录对象-->
    <!--//    	`id` INT(11) UNSIGNED NOT NULL AUTO_INCREMENT,-->
    <!--//	    `user_id` INT(11) NULL DEFAULT NULL,-->
    <!--//	    `video_id` INT(11) NULL DEFAULT NULL,-->
    <!--//	    `current_num` INT(11) NULL DEFAULT NULL COMMENT '当前播放第几集',-->
    <!--//      `episode_id` INT(11) NULL DEFAULT NULL COMMENT '当前播放第几集视频id',-->
    <!--//      `create_time` DATETIME NULL DEFAULT NULL,-->

    <resultMap id="PlayRecordResultMap" type="PlayRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="video_id" property="videoId" jdbcType="INTEGER" />
        <result column="current_num" property="currentNum" jdbcType="INTEGER" />
        <result column="episode_id" property="episodeId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO play_record ( user_id, video_id, current_num, episode_id, create_time) VALUES
        ( #{userId}, #{videoId}, #{currentNum}, #{episodeId}, #{createTime})
    </insert>
</mapper>